
<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      hawk a piece of furniture!
    </h1>

    <form action="/insert_furniture" method="post">
      <div class="form-group">
        <label for="name_box">
          name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" placeholder="Enter a furniture name. Concise but descriptive!" required>
      </div>

      <div class="form-group">
        <label for="image_box">
          image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control" placeholder="Enter a URL for the Image" required>
      </div>
  

      <div class="form-group">
        <label for="location_box">
          location
        </label>

        <input type="text" id="location_box" name="query_location" class="form-control" placeholder="Enter pick up location, i.e. MPP or MILA" required>
      </div>

      <div class="form-group">
        <label for="item_details_box">
          item details
        </label>

        <textarea id="item_details_box" name="query_item_details" class="form-control" rows="3" placeholder="Enter any product information provided by the retailer" required></textarea>
      </div>

      <div class="form-group">
        <label for="category_box">
          category
        </label>
        <select id="category_box" name="query_category">
            <option value="Bedroom">
              bedroom
            </option>
            <option value="Bathroom">
              bathroom
            <option value="Living Room">
              living Room 
            </option>
            <option value="Kitchen">
              kitchen
            </option>
            <option value="Dining Room">
              dining Room 
            </option>
            <option value="Decorations">
              decorations
            </option>
            <option value="Lighting">
              lighting
            </option>
            <option value="Storage">
              storage 
            </option>
            <option value="Miscellaneous">
              miscellaneous  
            </option>
        </select>
      </div>


      <div class="form-group">
        <label for="retailer_box">
          retailer
        </label>

        <input type="text" id="retailer_box" name="query_retailer" class="form-control" placeholder="Enter name of retailer" required>
      </div>

      <div class="form-group">
        <label for="retail_price_box">
          retail price
        </label>

        <input type="text" id="retail_price_box" name="query_retail_price" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="purchase_date_box">
          purchased date
        </label>

      <input type="date" id="purchase_date_box" name="query_purchase_date" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="asking_price_box">
          asking price
        </label>

        <input type="text" id="asking_price_box" name="query_asking_price" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="sell_by_box">
          sell by date
        </label>

        <input type="date" id="sell_by_box" name="query_sell_by" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="notes_box">
          notes
        </label>

        <textarea id="notes_box" name="query_notes" class="form-control" rows="3" placeholder="Enter details around furniture condition, i.e. like new, frat house status, corner chewed up by a dog, etc." required></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        create listing
      </button>
    </form>
  </div>
</div>



